# Go back-end
be1-go/ @dedis/student_pop-ta

# Scala back-end
be2-scala/ @dedis/student_pop-ta

# Android front-end
fe2-android/ @dedis/student_pop-ta

# ReactJS front-end
fe1-web/ @dedis/student_pop-ta

# Protocol
protocol/ @dedis/student_pop-ta

# Global tests
tests/ @dedis/student_pop-ta

# Github CI
.github/ @dedis/student_pop-ta

# Some demos for clients (PoPCHA)
demo/ @dedis/student_pop-ta
