# Go back-end
be1-go/ @dedis/student_21-1_pop-ta

# Scala back-end
be2-scala/ @dedis/student_21-1_pop-ta

# Android front-end
fe2-android/ @dedis/student_21-1_pop-ta

# ReactJS front-end
fe1-web/ @dedis/student_21-1_pop-ta

# Protocol
protocol/ @dedis/student_21-1_pop-ta
