.qr-code-scanner {
  position: absolute;
  width: 100%;
  height: 100%;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
}

.qr-code-scanner > section {
  padding-top: 0 !important;
  width: 100%;
  height: 100%;
}

.qr-code-scanner > section > div {
  border: none !important;
  box-shadow: none !important;
}
