{
  "extends": [
    "@react-native-community",
    "airbnb-typescript",
    //"plugin:@typescript-eslint/recommended",
    //"plugin:import/recommended",
    //"plugin:import/typescript",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": [
    "import",
  ],
  "root": true,
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".tsx"] }],

    "prettier/prettier": "off",

    // conflicts with the index.ts (eslint prefers default exports which are not compatible with index.ts)
    "import/prefer-default-export": "off",

    // allow the usage of console output for debugging purposes
    "no-console": "off",

    // disable object shorthand
    "object-shorthand": "off",

    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array.",
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand.",
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize.",
      },
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".mjs", ".js", ".jsx", ".ts", ".tsx", ".json"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "ignorePatterns": [
    "babel.config.js",
    "metro.config.js",
    "jest.config.js",
    "webpack.config.js"
  ]
}
