{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "mjs": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never",
      "vue": "never"
    }]
  },
  // we disable import/extensions eslint errors. Eslint underlines every import due to an
  // bug between typescript and eslint using the airbnb config
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".mjs", ".js", ".jsx", ".ts", ".tsx", ".json", ".vue"]
      }
    }
  }
}
