{
  "extends": "airbnb-typescript",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["react", "@typescript-eslint", "jest"],
  "root": true,
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".tsx"] }],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "mjs": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }],
    // conflicts with the index.ts (eslint prefers default exports which are not compatible with index.ts)
    "import/prefer-default-export": "off",

    // allow the usage of console output for debugging purposes
    "no-console": "off",

    // disable object shorthand
    "object-shorthand": "off",

    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array.",
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand.",
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize.",
      }
    ]
  },
  // we disable import/extensions eslint errors. Eslint underlines every import due to an
  // bug between typescript and eslint using the airbnb config
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".mjs", ".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  },
  "ignorePatterns": [
    "babel.config.js",
    "metro.config.js",
    "jest.config.js"
  ]
}
