# npm files
node_modules/**/*
npm-debug.*

# key files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# build files
tsdocs/
web-build/
dist/

# expo files
.expo/*
.expo-shared/

# Code coverage
coverage/*
test-report.xml

# IntelliJ
.idea

# VS Code
.vscode

# macOS
.DS_Store

# original files
*.orig.*

