node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
tsdocs/

# Code coverage
coverage/*
test-report.xml

# IntelliJ
.idea

# VS Code
.vscode

# macOS
.DS_Store
