root = true

[*.xml]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

; Android studio specific
ij_continuation_indent_size = 2
ij_xml_keep_blank_lines = 1

ij_xml_align_attributes = false
ij_xml_align_text = false

ij_xml_attribute_wrap = normal
ij_xml_text_wrap = normal

ij_xml_line_comment_at_first_column = true
ij_xml_block_comment_at_first_column = true

ij_xml_keep_line_breaks = false
ij_xml_keep_line_breaks_in_text = true

ij_xml_keep_whitespaces_around_cdata = preserve
ij_xml_keep_whitespaces_inside_cdata = false

ij_xml_keep_whitespaces = false
ij_xml_keep_indents_on_empty_lines = false

ij_xml_space_after_tag_name = false
ij_xml_space_around_equals_in_attribute = false
ij_xml_space_inside_empty_tag = true

ij_xml_use_custom_settings = true

[*.java]
end_of_line = lf
charset = utf-8

; Imports rules, they are not set by the google-java-style plugin so it needs to be set manually
ij_java_imports_layout = |, android.**, |, androidx.**, |, com.**, |, junit.**, |, net.**, |, org.**, |, java.**, |, javax.**, |, *, |, $*
ij_java_insert_inner_class_imports = false
ij_java_layout_static_imports_separately = true
ij_java_use_single_class_imports = true
ij_java_blank_lines_before_imports = 1
ij_java_class_count_to_use_import_on_demand = 3
ij_java_packages_to_use_import_on_demand = 3
ij_java_names_count_to_use_import_on_demand = 3

[*.gradle]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true
