name: Integration Tests

on:
  schedule:
    # Run the ci on the latest commit of master every day at 4:00 am
    - cron:  '00 04 * * *'
  
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      
jobs:
  be2-scala:
    name: Be2-Scala
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "11"

      - name: Setup repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Compile server
        working-directory: ./be2-scala
        run: sbt compile
        
      - name: Assemble server jar file
        working-directory: ./be2-scala
        run: sbt assembly
        
      - name: Run Karate tests
        working-directory: ./tests/karate
        run: mvn test -DargLine=-Dkarate.env=scala -Dtest=BackEndTest#fullTest
        
      - name: Publish HTML Report
        if: ${{ always() }} # execute even if previous steps failed
        uses: actions/upload-artifact@v3
        with:
          name: Scala HTML Report
          path: ./tests/karate/target/karate-reports
                  
      - name: Publish Cucumber Report
        if: ${{ always() }} # execute even if previous steps failed
        uses: actions/upload-artifact@v3
        with:
          name: Scala Cucumber Report
          path: ./tests/karate/target/cucumber-html-reports
          
      - name: Publish Server logs
        if: ${{ always() }} # execute even if previous steps failed
        uses: actions/upload-artifact@v3
        with:
          name: Scala Server Logs
          path: ./tests/karate/scala.log
          
      # The next actions are pushing the new report to the defined branch
      - name: Checkout report branch
        if: ${{ always() }} # execute even if previous steps failed
        uses: actions/checkout@v3
        with:
          ref: report-karate-be2-scala
          path: report-repo
      
      - name: Update report
        if: ${{ always() }} # execute even if previous steps failed
        run: |
          rm -rf report-repo/*
          cp -a ./tests/karate/target/cucumber-html-reports/. ./report-repo/
          
      - name: Get current date
        if: ${{ always() }} # execute even if previous steps failed
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
        
      - name: Commit files
        if: ${{ always() }} # execute even if previous steps failed
        working-directory: report-repo
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "Report from ${{ steps.date.outputs.date }}" -a
          
      - name: Push changes
        if: ${{ always() }} # execute even if previous steps failed
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: report-karate-be2-scala
          directory: report-repo
          
  be1-go:
    name: Be1-Go
    runs-on: ubuntu-latest

    steps:
      - name: Use go >= 1.19
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.19"

      - name: Setup repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/cache@v3
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      
      - name: Build
        if: ${{ always() }} # execute even if previous steps failed
        working-directory: ./be1-go
        run: |
          make build
        
      - name: Run Karate tests
        working-directory: ./tests/karate
        run: mvn test -DargLine=-Dkarate.env=go -Dtest=BackEndTest#fullTest
        
      - name: Publish HTML Report
        if: ${{ always() }} # execute even if previous steps failed
        uses: actions/upload-artifact@v3
        with:
          name: Go HTML Report
          path: ./tests/karate/target/karate-reports
                  
      - name: Publish Cucumber Report
        if: ${{ always() }} # execute even if previous steps failed
        uses: actions/upload-artifact@v3
        with:
          name: Go Cucumber Report
          path: ./tests/karate/target/cucumber-html-reports
          
      - name: Publish Server logs
        if: ${{ always() }} # execute even if previous steps failed
        uses: actions/upload-artifact@v3
        with:
          name: Go Server Logs
          path: ./tests/karate/go.log
